@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .firstChild {
    -webkit-clip-path: inset(-5px -5px -5px 0px);
    clip-path: inset(-5px -5px -5px 0px);
  }
  .lastChild {
    -webkit-clip-path: inset(-5px 0px -5px -5px);
    clip-path: inset(-5px 0px -5px -5px);
  }
  @media (max-width: 1280px) {
    .selectControl {
      -webkit-clip-path: inset(-5px 0px -5px -5px);
      clip-path: inset(-5px 0px -5px -5px);
    }
  }
}
